<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission for recording audio and storage of audio in users device -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- Permissions required by the App -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
    <!-- Devices running Android 12L (API level 32) or lower  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- To handle the reselection within the app on devices running Android 14
         or higher if your app targets Android 14 (API level 34) or higher.  -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />



    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.RatingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            >


        </activity>
        <activity
            android:name=".activities.BankUpdateActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".agora.female.FemaleAudioCallingActivity"
            android:exported="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:launchMode="singleTask" />

<!--        <activity-->
<!--            android:name=".agora.female.FemaleAudioCallingActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".agora.female.FemaleCallAcceptActivity"
            android:exported="false" />
        <activity
            android:name=".agora.female.FemaleVideoCallingActivity"
            android:exported="false" />
        <activity
            android:name=".agora.male.MaleAudioCallingActivity"
            android:exported="false" />
        <activity
            android:name=".agora.male.MaleCallConnectingActivity"
            android:exported="true" />
        <activity
            android:name=".agora.male.MaleVideoCallingActivity"
            android:exported="false" />
        <activity
            android:name=".agora.AgoraRandomCallActivity"
            android:exported="false" />
        <receiver android:name=".agora.CallActionReceiver" android:exported="true">

            <intent-filter>
                <action android:name="ACTION_ACCEPT_CALL" />
                <action android:name="ACTION_REJECT_CALL" />
            </intent-filter>

        </receiver>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true"
            android:resizeableActivity="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activities.VerifyOTPActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="hidudeapp.in" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.WalletActivity" />
        <activity android:name=".activities.TransactionsActivity" />
        <activity android:name=".activities.AccountPrivacyActivity" />
        <activity android:name=".activities.DeleteAccountActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.SelectGenderActivity" />
        <activity android:name=".activities.SelectLanguageActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.NewLoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.FemaleAboutActivity"
            android:resizeableActivity="true" />
        <activity android:name=".activities.AlmostDoneActivity" />
        <activity android:name=".activities.VoiceIdentificationActivity" />
        <activity android:name=".activities.EarningsActivity" />
        <activity android:name=".activities.WebviewActivity" />
        <activity android:name=".activities.YoutubeActivity" />
        <activity android:name=".activities.RandomUserActivity" />
        <activity android:name=".activities.GrantPermissionsActivity" />
        <activity android:name=".activities.ReviewActivity" />
        <activity
            android:name=".activities.WithdrawActivity"
            android:resizeableActivity="true" />
        <activity android:name=".activities.PaymentInitiatedActivity" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/background_color" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:exported="true">

            <!-- Edit android:value to change the url opened by the TWA -->
            <meta-data
                android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="https://YOUR_SITE_URL" />

            <!--
              This intent-filter allows the TWA to handle Intents to open
              YOUR_SITE_URL
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Edit android:host to handle links to the target URL -->
                <data
                    android:host="YOUR_SITE_URL"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name=".agora.services.CallingService"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <service
            android:name=".agora.services.CallingService"
            android:exported="false"
            android:foregroundServiceType="microphone" />
        <service
            android:name=".agora.FcmCallService"
            android:exported="false"
            android:foregroundServiceType="phoneCall"
            android:permission="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
        <service
            android:name=".agora.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--        <service-->
<!--            android:name=".services.CallingService"-->
<!--            android:foregroundServiceType="microphone"-->
<!--            android:exported="false">-->
<!--        </service>-->
<!--        <receiver-->
<!--            android:name=".receivers.CallReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true" >-->
<!--            <intent-filter>-->
<!--                <action android:name="im.zego.zim.zpns.intent.action.MESSAGE" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

    </application>

</manifest>